/* I took the CSS reset from https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*------------------- Header ---------------*/

.main-header {
  background-color: lightblue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 10px;
  padding: 5px;
  width: 150px;
  text-align: center;
  border-radius: 5%;
}

.submit-button {
  padding: 5px 10px;
  border-radius: 5%;
  font-weight: bold;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
}

.select-day {
  /* margin-top: 10px; */
  width: 100px;
  text-align: center;
  border-radius: 5%;
}

.maine-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  background-image: url(assets/Background-weather.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.card {
  width: 250px;
  margin-top: 50px;
  padding: 10px;
  background: rgba(242, 242, 242, 0.7);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* CSS for the elements inside each card */
.card h3 {
  font-size: 20px;
  margin: 10px;
}

.card p {
  font-size: 18px;
  margin: 10px;
}

/* Additional styling for specific elements */
.card:hover h3 {
  color: #ff0000; /* Change the color to your desired hover effect */
}

.card:hover p {
  color: #0000ff; /* Change the color to your desired hover effect */
}
.footer {
  margin-top: auto;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .search {
    width: 100px;
  }

  .select-day {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}
